<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>这是 LeanEngine 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
  </body>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="/js/config/config.js"></script>
  <script src="/js/deps/fetch-jsonp/build/fetch-jsonp.js"></script>
  <script src="/js/utils/rest.js"></script>
  <script src="/js/module/index.js"></script>
</html>
