<!DOCTYPE HTML>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div><%= token %></div>
    <div><%= access_token %></div>
    <div><%= expires_in %></div>
  </body>
</html>