@import '../variable';

.hk-checkbox {
  display: inline-block;

  .el-checkbox__input.is-checked {
    .el-checkbox__inner {
      background-color: @darkGreen;
      border-color: @darkGreen;
    }
  }

  .el-checkbox__inner {
    &:hover {
      border-color: @darkGreen;
    }

    &::after {
      transition: none;
    }
  }
}
