@import '../variable';
@import '../mixins/center';

@selectHeight: 30px;
@selectDropdownItemColor: #999;
@selectDropdownBorderColor: #d3dce6;
@selectDropdownShadowTopColor: rgba(0,0,0,.12);
@selectDropdownShadowLeftColor: rgba(0,0,0,.04);
@selectInputColor: #1f2d3d;
@selectInputBorderColor: #bfcbd9;
@iconCaretBorderColor: #e2e2e2;

.hk-select {
  display: block;

  &.el-select {
    .el-input__icon {
      height: @selectHeight;
    }

    .el-input__inner {
      height: @selectHeight;

      &:focus {
        border-color: @darkGreen;
      }
    }
  }
}

.hk-select-dropdown {
  &.el-select-dropdown {
    .el-select-dropdown__list {
      padding: 0;
    }

    .el-select-dropdown__item {
      height: @selectHeight;
      padding: 5px 10px;
      color: @selectDropdownItemColor;

      &.selected {
        color: @selectDropdownItemColor;
        background-color: transparent;
      }

      &.hover,
      &:hover {
        color: @white;
        background-color: @darkGreen;
      }
    }
  }
}

.hk-select-custom {
  position: relative;

  .select-input {
    position: relative;
    background-color: @white;
    background-image: none;
    border-radius: 4px;
    border: 1px solid @selectInputBorderColor;
    color: @selectInputColor;
    display: block;
    font-size: inherit;
    height: @selectHeight;
    line-height: @selectHeight - 2 * 3px;
    outline: none;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    user-select: none;
    cursor: pointer;

    .icon-caret {
      .absolute-vertical-center();
      right: 5px;
      width: 0;
      height: 0;
      margin-left: 2px;
      border-top: 4px solid @iconCaretBorderColor;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;

      transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    }
  }

  .select-dropdown {
    position: absolute;
    top: @selectHeight;
    left: 0;
    width: 100%;
    border: 1px solid @selectDropdownBorderColor;
    border-radius: 2px;
    background-color: @white;
    box-shadow: 0 2px 4px @selectDropdownShadowTopColor, 0 0 6px @selectDropdownShadowLeftColor;
    z-index: 9999;

    .select-dropdown-list {
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 274px;
      overflow-y: auto;

      .select-dropdown-item {
        height: @selectHeight;
        line-height: @selectHeight - 2 * 5px;
        padding: 5px 10px;
        color: @selectDropdownItemColor;
        cursor: pointer;

        &.selected {
          color: @selectDropdownItemColor;
          background-color: transparent;
        }

        &:hover {
          color: @white;
          background-color: @darkGreen;
        }
      }
    }
  }

  &.disabled {
    .select-input {
      cursor: not-allowed;
    }
  }

  &.open-dropdown {
    .select-input {
      .icon-caret {
        border-bottom: 4px solid @iconCaretBorderColor;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 0;
      }
    }
  }
}
