@import '../../../../../../styles/variable';
@import '../../../../../../styles/mixins/flexbox';
@import '../../../../../../styles/mixins/center';

.upload-cover-modal {
  .upload-cover-modal-body {
    .default-covers {
      .default-covers-header {
        margin-bottom: 20px;
        margin-top: 10px;

        .covers-header-label {
          font-weight: normal;
          margin-bottom: 0;
        }

        .hk-radio {
          display: inline-block;
          margin-left: 30px;

          + .hk-radio {
            margin-left: 10px;
          }
        }
      }
    }

    .default-covers-list {
      .default-covers-group {
        .flexbox();

        + .default-covers-group {
          margin-top: 15px;
        }

        .default-covers-item {
          .flex(1);
          position: relative;
          cursor: pointer;

          + .default-covers-item {
            margin-left: 10px;
          }

          .cover-image {
            width: 100%;
          }
        }

        .default-covers-pure {
          width: 91px;
          height: 91px;
        }
      }
    }

    .upload-covers {
      margin-top: 25px;
      padding-bottom: 50px;

      .upload-covers-header {
        margin-bottom: 12px;

        .covers-header-label {
          font-weight: normal;
          margin-bottom: 0;
        }
      }

      .file-upload {
        vertical-align: top;
      }

      .btn-upload {
        width: 150px;
      }

      .upload-covers-item {
        display: inline-block;
        position: relative;
        cursor: pointer;

        margin-left: 20px;

        .remove {
          display: none;
        }

        &:hover {
          .remove {
            display: inline-block;
          }
        }
      }

      &.upload-covers-type-pure {
        .upload-covers-header {
          display: inline-block;
          margin-right: 15px;
          margin-bottom: 0;
          line-height: 25px;

          .covers-header-label {
            cursor: pointer;
          }
        }

        .hk-color-picker {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
