@black: #000;
@white: #fff;
@gray: #555;
@grayDarker: #222;
@grayDark: #333;
@grayLighter: #777;
@grayDarkLighter: #999;
@grayLight: #eee;
@grayLightUndertone: #ddd;
@crimson: #fe4900;
@grass: #5bbc2e;
@grass2: #7ED321;
@grassLighter: #5dff3f;
@darkGreen: #27AE60;
@greenDarker: #05873c;

@common-border: #ddd;

// nav z-index
@nav-z-index: 1000;

// navbar
@navbarHeight: 52px;

@footer-navs: home, category, cart, profile;

