@black: #000;
@white: #fff;
@gray: #555;
@grayDarker: #222;
@grayDark: #333;
@grayLighter: #777;
@grayLight: #eee;
@crimson: #fe4900;
@grass: #5bbc2e;
@darkGreen: #27AE60;

@common-border: #ddd;

// nav z-index
@nav-z-index: 1000;

// navbar
@navbarHeight: 52px;

@footer-navs: home, category, cart, profile;

