@import '../../../../../../styles/mixins/flexbox';
@import '../../../../../../styles/variable';

@uploadTipsColor: #999;

.file-qrcode-generater {
  .file-content-wrap {
    .flexbox();
    margin-bottom: 20px;
    cursor: pointer;

    .file-name {
      .flex(1);
      border: 1px solid @common-border;
      border-right: 0;
      height: 34px;
      cursor: pointer;
    }

    .btn-upload-file {
      border-radius: 0;
    }
  }

  .upload-tips {
    margin-top: 20px;
    font-size: 12px;
    color: @uploadTipsColor;

    .fa {
      font: normal normal normal 14px/1 FontAwesome;

      &.fa-question-circle {
        margin-right: 5px;

        &:before {
          content: '\f059';
        }
      }
    }
  }
}

.file-qrcode {
  &.file-types {
    .file-type-item {
      + .file-type-item {
        margin-top: 5px;
      }
    }
  }
}
