@import '../../../../styles/variable';
@import '../../../../styles/mixins/flexbox';

@collapseScreenMaxWidth: 640px;
@navbarHeight: 50px;
@navToggleColor: #444;
@navHeaderColor: @white;
@navHeaderBgColor: #1c1c1c;
@navItemColor: @white;
@navItemActiveColor: @grass;
@navItemHoverColor: #5dff3f;
@navItemHoverBgColor: rgba(255, 255, 255, .1);

.qrcode-container {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    background-image: url('./images/debut_dark.png');
    background-repeat: repeat;
    font-size: 14px;
    z-index: 1021;

    .navbar-header {
      float: left;
      width: 200px;
      line-height: @navbarHeight;
      padding: 0 15px 0 70px;
      color: @navHeaderColor;
      background-color: @navHeaderBgColor;

      background-image: url('./images/logo.png');
      background-size: 40px;
      background-position: 15px center;
      background-repeat: no-repeat;
    }

    .nav-collapse {
      .navs-wrapper {
        display: block;
        width: 100%;
        list-style: none;
        margin: 0;
      }

      .nav {
        display: inline-block;
        cursor: pointer;

        &:focus {
          outline: 0;
        }

        > a {
          color: @navItemColor;
          display: block;
          transition: background .3s ease;
          line-height: @navbarHeight - 30px;
          padding: 15px 20px;
          text-decoration: none;

          &:hover {
            background-color: @navItemHoverBgColor;
            color: @navItemHoverColor;
          }

          &:focus {
            outline: 0;
          }
        }

        &.active {
          pointer-events: none;

          > a {
            color: @navItemActiveColor;

            &:hover {
              color: @navItemActiveColor;
              background-color: transparent;
            }
          }
        }
      }
    }

    .nav-toggle {
      display: none
    }

    @media screen and (max-width: @collapseScreenMaxWidth) {
      .nav-collapse {
        // clip: rect(0 0 0 0);
        display: block;
        overflow: hidden;
        width: 100%;
        max-height: 0;
      }

      .nav-toggle {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-touch-callout: none;
        user-select: none;
        text-decoration: none;
        text-indent: -999px;
        position: relative;
        overflow: hidden;
        width: 62px;
        height: @navbarHeight;
        float: right;
        display: block;
        background-color: @navToggleColor;
        background-image: url('./images/hamburger-retina.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:before {
          color: @navToggleColor; /* Edit this to change the icon color */
          font-family: "responsivenav";
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-size: 28px;
          text-transform: none;
          position: absolute;
          content: "\2261";
          text-indent: -999px;
          text-align: center;
          line-height: @navbarHeight;
          speak: none;
          width: 100%;
          top: 0;
          left: 0;
        }

        &.active:before {
          font-size: 24px;
          content: "\78";
        }
      }
    }
  }

  .container-fluid {
    position: relative;
    margin-top: @navbarHeight;
  }
}

@media screen and (max-width: @collapseScreenMaxWidth) {
  .qrcode-html-navs-toggled {
    .navbar {
      .nav-collapse {
        .navs-wrapper {
          margin-bottom: 10px;
        }

        .nav {
          display: block;
        }

        &.opened {
          max-height: initial !important;
        }
      }
    }
  }
}


